<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
    <body>

        <!-- Header -->
        <header class="header">
            <div class="jumbotron jumbotron-fluid mb-5">
                <div class="container text-center py-5">
                        <h2>{{message}}</h2>
                      
                    <h1 class="text-primary mb-4">Inversiones CVE</h1>
                    <h1 class="text-white display-3 mb-5">Servicio de Carga</h1>
                    <div class="mx-auto" style="width: 100%; max-width: 600px;">
                    </div>
                </div>
            </div>
            
        </header>
    

        <!-- Nosotros -->
        <section id="nosotros" class="section">
            <h2>Nosotros</h2>
            <div class="section-content">    
                <div class="card">
                    <h3>Historia de la empresa</h3>
                    <p>Desde nuestra apertura...</p>
                </div>
                <div class="card">
                    <h3>Filosofía y Valores</h3>
                    <p>Nuestra filosofía ...</p>
                </div>
                <div class="card">
                    <h3>Equipo</h3>
                    <p>En el corazón de nuestra empres se encuentra un equipo experimentado...</p>
                </div>
                <div class="card">
                    <h3>Reconocimientos</h3>
                    <p>Estamos orgullosos de haber recibido ...</p>
                </div>
            </div>
        </section>



        <!-- Contacto -->
        <!-- Team Start -->
        <section id="equipo" class="equipo">
            <div>
                <div class="container-fluid pt-5">
                    <div class="container">
                        <div class="text-center pb-2">
                            <h6 class="text-primary text-uppercase font-weight-bold">Equipo CVE</h6>
                            <h1 class="mb-4">Conozca a nuestro equipo </h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="team card position-relative overflow-hidden border-0 mb-5">
                                    <img class="card-img-top" src="img/team-1.jpg" alt="">
                                    <div class="card-body text-center p-0">
                                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                            <h5 class="font-weight-bold">Perez Marin Gonzalo Leonardo</h5>
                                            <span>Conductor</span>
                                        </div>
                                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="team card position-relative overflow-hidden border-0 mb-5">
                                    <img class="card-img-top" src="img/yo.PNG" alt="">
                                    <div class="card-body text-center p-0">
                                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                            <h5 class="font-weight-bold">Juzto Sanchez David Francisco</h5>
                                            <span>Almacenero</span>
                                        </div>
                                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="team card position-relative overflow-hidden border-0 mb-5">
                                    <img class="card-img-top" src="img/team-3.jpg" alt="">
                                    <div class="card-body text-center p-0">
                                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                            <h5 class="font-weight-bold">Martel Noel Marycielo Olenka</h5>
                                            <span>Supervisora</span>
                                        </div>
                                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="team card position-relative overflow-hidden border-0 mb-5">
                                    <img class="card-img-top" src="img/team-4.jpg" alt="">
                                    <div class="card-body text-center p-0">
                                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                            <h5 class="font-weight-bold">Gargate Faustor Juan Francisco</h5>
                                            <span>Empaquetado y carga</span>
                                        </div>
                                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team End -->
        <!-- Footer Start -->
            <section>
                <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
                    <div class="row pt-5">
                        <div class="col-lg-7 col-md-6">
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                    <h3 class="text-primary mb-4">Ponte en Contacto</h3>
                                    <p><i class="fa fa-map-marker-alt mr-2"></i>La colectora #120</p>
                                    <p><i class="fa fa-phone-alt mr-2"></i>+51 913655968</p>
                                    <p><i class="fa fa-envelope mr-2"></i>paololeon@gmail.com</p>
                                    <div class="d-flex justify-content-start mt-4">
                                        <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <h3 class="text-primary mb-4">Acceso Rapido</h3>
                                    <div class="d-flex flex-column justify-content-start">
                                        <a class="text-white mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                                        <a class="text-white mb-2" href="clientes.html"><i class="fa fa-angle-right mr-2"></i>Clientes</a>
                                        <a class="text-white mb-2" href="facturas.html"><i class="fa fa-angle-right mr-2"></i>Facturas</a>
                                        <a class="text-white mb-2" href="personal.html"><i class="fa fa-angle-right mr-2"></i>Personal</a>
                                        <a class="text-white mb-2" href="concluidos.html"><i class="fa fa-angle-right mr-2"></i>Contratos</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 mb-5">
                            <h3 class="text-primary mb-4">Informacion</h3>
                            <p>Te invitamos a explorar esta sección y obtener más información sobre cómo Inversiones CVE puede satisfacer tus necesidades de manera excepcional. Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en ponerte en contacto con nuestro equipo de expertos.</p>
                            <div class="w-100">
                                <div class="input-group">
                                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Su Correo Electronico">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary px-4">Consultar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
                    <div class="row">
                        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                            <p class="m-0 text-white">&copy; <a href="#">Your Site Name</a>. All Rights Reserved. 
                            
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                            </p>
                        </div>
                        <div class="col-lg-6 text-center text-md-right">
                            <ul class="nav d-inline-flex">
                                <li class="nav-item">
                                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white py-0" href="#">Terms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white py-0" href="#">Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/counterup/counterup.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
            </section>
        <!-- Footer End -->

    </body>
</html>

