/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}



/* Estilos de la sección Nosotros */
.section {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.section-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilos de las tarjetas */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    flex: 0 1 calc(33.333% - 30px);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
}